.margin {
    margin-left: 12px;
    margin-top: 2px;
}

.red {
    color: red;
}

.h1 {
    margin-top: 2px;
    margin-left: 12px;
}

#body {
    text-align: center;
    align: center;
    align-items: center;
}

.input {
    margin: 0 auto;
    float: none;
}

table th {
    text-align: center;
}

.table {
    margin: auto;
    width: auto !important;
}

.controls {
    display: inline-block;
    display: inline;
}

.controls input {
    margin: .4rem;
}